<mat-list role="list">

    <div fxLayout="column" class="profile">
        <img src="https://www.pngitem.com/pimgs/m/247-2472278_admin-admin-icon-png-transparent-png.png" alt="">
        <h3>Admin</h3>
        <h4>admin@sahara.com</h4>
    </div>

    <mat-divider></mat-divider>
    <h2>Pages</h2>
    <div class="pages">
        <a routerLink="">Dashboard</a>
        <a routerLink="gallery">Gallery</a>
        <a href="employees">Employees</a>
    </div>
    <mat-divider></mat-divider>
    <h2>Tools</h2>
    <div class="pages">
        <a routerLink="add"> <mat-icon>import_contacts</mat-icon> Add Employee</a>
        <a routerLink="lead"><mat-icon>person</mat-icon>Leads</a>
        
    </div>
  </mat-list>
  
